.container{
    width: 320px;
}
.header{
    display: flex;
    margin-top: 26px;
}
.title{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
}

.inputContainer{
    width: 316px;
    height: 42px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    background: #E0EFFF;
    margin: 7.5px 0px;
}

.icon{
    margin-left: 20px;
}
.inputval > select, .inputval > input[type="text"]{
    width: 224px;
    height: 22px;
    margin-left: 10.3px;
}
.inputval > select{
    border: 1px solid var(--Primary, #0078D4);
}
.inputval > input[type="text"]{
    border: none;
    border-bottom: 1px solid #0078D4;
    background: #E0EFFF;
}
.inputval > input[type="checkbox"]{
    margin-left: 28px;
    margin-right: 15px;
}

.input1, .input2{
    display: flex;
    align-items: center;
}
.input2 > .icon{
    margin-left: 10px;
}
.input1 > .inputval input{
    width: 98px;
}
.input2 > .inputval input{
    width: 60px;
}

.functionBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.functionBtn > .button{
    padding: 12px 98px;
    border-radius: 10px;
    background: #0078D4;
    margin-bottom: 17px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}