.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
}
.backBtn > svg:hover{
    cursor: pointer;
}
.header{
    display: flex;
    width: 316px;
    margin-top: 26px;
}
.title{
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
}

.inputContainer{
    width: 316px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #E0EFFF;
    margin: 7.5px 0px;
}

.inputval{
    display: flex;
    align-items: center;
}
.inputval > select, .inputval > input[type="text"]{
    width: 224px;
    height: 22px;
    margin-left: 10.3px;
}
.inputval > select{
    border: 1px solid var(--Primary, #0078D4);
}
.inputval > input[type="text"]{
    border: none;
    border-bottom: 1px solid #0078D4;
    background: #E0EFFF;
}

.inputMyownWrap{
    display: flex;
    justify-content: space-between;
}
.inputMyownWrap > div{
    margin: 0px 6px;
    width: 120px;
}
.inputval > input[type="checkbox"]{
    margin-right: 15px;
}

.input1, .input2{
    display: flex;
    align-items: center;
}
.input2 > .icon{
    margin-left: 10px;
}
.input1 > .inputval input{
    width: 98px;
}
.input2 > .inputval input{
    width: 60px;
}

.functionBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.functionBtn > .button{
    padding: 12px 98px;
    border-radius: 10px;
    background: #0078D4;
    margin-bottom: 17px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.functionBtn > .button{
    cursor: pointer;
}

@media screen and (min-width: 1366px) {
    .container{
        margin-top: 72px;
    }
    .header{
        width: 582px;
    }
    .backBtn > svg{
        width: 30px;
        height: 50px;
    }
    .backBtn > .title{
        font-size: 32px;
    }
    
    .inputContainer{
        width: 582px;
        height: 77px;
    }
    .inputContainer .icon > svg{
        width: 59px;
        height: 59px;
    }
    .inputval > select, .inputval > input[type="text"]{
        width: 428px;
        height: 49px;
    }
    .input1 > .inputval input{
        width: 200px;
    }
    .input2 > .inputval input{
        width: 138px;
    }
    .inputMyownWrap > div {
        margin: 0px 10px;
        width: 200px;
    }
    .inputval > input[type="checkbox"]{
        width: 33px;
        height: 33px;
    }
    .inputval > label{
        font-size: 20px;
        font-weight: 500;
    }
    .functionBtn{
        flex-direction: row;
    }
    .functionBtn > div{
        margin: 0px 10px;
    }
}