.container{
    background: #E0EFFF;
    width: 100%;
    height: 45px;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.dropdownMenu{
    width: 148px;
    height: 43px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.topicSelected{
    display: flex;
    align-items: center;
}
.topicSelected > p, .signoutButton > p{
    font-size: 12px;
    font-weight: 700;
    margin-left: 5px;
}

.rotate{
    rotate: 180deg;
}
.menulist{
    position: absolute;
    top: 43px;
    background-color: white;
    width: 148px;
    border-radius: 0px 0px 15px 15px;
    border: 1px solid #000;
}
.menulist div {
    display: flex;
    align-items: center;
    margin-left: 18px;
}
.menulist div p{
    color: black;
}
.menulist div svg{
    margin-right: 5px;
}
.menuActive {
    background-color: #0078D4;
    color: white;
    border: 1px black solid;
}

.signoutButton{
    display: flex;
    padding: 0px 10px;
    justify-content: space-around;
    align-items: center;
}
.signoutButton:hover{
    cursor: pointer;
    background: #0078D4;
    height: 100%;
}
.signoutButton > p:hover{
    color: white;
}

.menulist div > a{
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-family: Inter;
}

.menuBar{
    display: none;
    align-items: center;
}
.menu{
}
.menuBar a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px 10px;
    height: 100%;
    text-decoration: none;
    color: #000;
}
.menuBar a > .menuName{
    margin-left: 5px;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.menuBar a:hover{
    background: #0078D4;
    height: 80%;
}
.menuBar a > .menuName:hover{
    color: white;
}
.spaceline{
    width: 1px;
    height: 50px;
    background: #000;
}


@media screen and (min-width: 1366px) {
    .container{
        height: 75px;
    }
    .dropdownMenu{
        display: none;
    }
    .menuBar{
        display: flex;
    }

    .signoutButton > p{
        font-size: 20px;
        text-align: center;
    }
    .signoutButton .signoutIcon > svg{
        width: 35px;
        height: 35px;
    }
    
}